* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    color: #0F1D49;
}

html {
    height: 100%;
}

/* Nav */

.navbar-nav li a {
    color: #0F1D49;
  }
.navbar-item {
    font-size: 2rem;
    color: #0F1D49;
    font-weight: bold;
}

.navbar {
    background-color: white;
    color: #0F1D49;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav li {
    margin: 0 2rem;
}

.navbar-nav .nav-link:hover { 
    color: #E2E6F3;
    transition: .25s ease-out;
}

/* Home Page */
.welcome-header {
    display: flex;
    background-color: #F4F8FB;
}

.title-first {
    margin-right: 2rem;
    padding: 0
}
.title-first img {
    padding-right: -2rem;
}

.title-container {
    margin-left: 1rem;
    text-align: left;
    z-index: 1;
}

.title-container h2 {
    padding-left: .5rem;
    margin-top: .5rem;
    width: 80%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.title-container p {
    font-size: 18px;
    padding-left: .5rem;
    margin-top: 4rem;
    width: 38%;
}

.title-container img {
    position: absolute;
    right: -15px;
    width: 27%;
    float: right;
    margin-top: .5rem;
}

.overview {
    text-align: center;
    margin-top: 2rem;
}

.overview h2 {
    font-size: 35px;
    border-bottom: 1px solid #f3f3f3;
    justify-content: center;
    text-align: center;
}

.screens {
    justify-content: center;
    display: flex;

}

.features-header {
    border-bottom: 1px solid #f3f3f3;

}

.features {
    display: flex;
    text-align: center;
    justify-content: center;
}

.one, .two, .three {
    padding: 0 2rem;
    width: 50%;
    text-align: center;
    background-color: #E2E6F3;
    margin: 3rem;
    padding: 1rem;
    border-radius: 5%;
}

.features h4 {
    margin-bottom: 1.5rem;
}

.demo-header {
    border-bottom: 1px solid #f3f3f3;
}

/* About */
.about {
    background-color: #E2E6F3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-team img {
  height: 200px;
  width: 200px;
  margin: 10px;
}

.image-container {
    text-align: center;
    margin: 1rem;
}

/* Prompt */ 
.checklist-header {
    color: #0F1D49;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
}

.card {
    background-color: #E2E6F3;
    border-color: #f3f3f3;
    padding: .5rem;
}

.card li {
    margin: 1rem;
}

/* Footer */

footer {
    margin: 1rem;
}

select {
    margin: .5rem;
}
/* Media */ 

@media (min-width: 380px) {
    .home {
        background-size: cover;
    }

    .welcome-header {
        display: block;
    }
    .title-first img {
        width: 100%;
    }

    .screen-image {
        width: 20%;
        margin: 1rem;
    }
}

@media (min-width: 580px) {
}

@media (min-width: 768px) {
    .home {
        background-size: contain;
    }
    
    .screen-image {
        width: 15%;
        margin: 1.5rem;
    }

    .card {
        margin: 4rem;  
    }

    .card-body {
        margin: 2rem;
    }
}

@media (min-width: 992px) {
    .screen-image {
        width: 15%;
        margin: 3rem;
    }
    .welcome-header {
        display: flex;
    }
  
    .home {
        background-size: cover;
    }
}


@media (min-width: 1200px) {

    .title-container {
        margin-top: 4rem;
    }

    .home {
        background-size: contain;
    }
}

.data-views { 
    max-height: 800px;
    max-width: 1300px;
}